.bg {
	background-image: url('/background3.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: top 115px right 0px;
	object-fit: cover;
	@media (max-width: 1440px) {
		background-size: 65%;
	}
}

.bg2 {
	background-image: url('/background4.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	object-fit: contain;
}
