.footer {
	padding-top: 64px;
	max-width: 1440px;
	margin: 0 auto;
	padding-inline: clamp(16px, 10vw, 140px);
	padding-bottom: 24px;
}

.footer__container {
	padding-top: 32px;
	display: flex;
	gap: 120px;
}

.footer__about {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about__title {
	font-weight: 500;
	font-size: var(--fs-20);
	color: #272838;
}

.about__text {
	font-weight: 500;
	font-size: var(--fs-16);
	color: #272838;
}

.faq {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.faq__title {
	border-left: 2px solid #272838;
	padding-left: 16px;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #272838;
}

.faq__phone,
.faq__email,
.faq__social {
	display: flex;
	gap: 16px;
	a {
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #272838;
	}
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 16px;
	a {
		font-weight: 500;
		font-size: 16px;
		color: #272838;
	}
}
